/***  Minimum viewport 320px mobile portrait  ***/

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  background-color: #E4C490;
  background-image: url("./media/4121281710_28dd3dbfeb_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body, fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

header {
  margin-top: 50px;
}

fieldset {
  background-color: rgb(202, 197, 155);    
  margin-top: 25px;
  margin-bottom: 300px;
  width: 300px;
  height: 500px;
  border-radius: 20px;
}

h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 38px;
  color: rgb(194, 151, 39);
  font-weight: bold;
}

legend {
  background: rgba(0, 0, 0, 0);
  font-family: 'Chilanka', cursive;
  font-size: 26px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

.row p {
  text-align: center;
  font-size: 18px;
}

.button-row {
  display: inline-block;
  position: relative;
  top: 300px;
}

fieldset button {
  display: inline-block;
  vertical-align: bottom;
  background-color: #CCCCCC;
  text-decoration: none;
  width: 140px;
  height: 35px;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

/***  Minimum viewport 480px mobile landscape  ***/
@media screen and (min-width: 480px) {
  fieldset {
    width: 400px;
  }
}

/***  Minimum viewport 768px iPad portrait  ***/
@media screen and (min-width: 768px) {
  fieldset {
    width: 700px;
  }
}