/***  Minimum viewport 320px mobile portrait  ***/

* {
  box-sizing: border-box;
  font-size: 0;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  background-color: #E4C490;
  background-image: url("./media/4121281710_28dd3dbfeb_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body, fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  height: 100px;  
}

.main_hdr {
  background-color: rgba(202, 197, 155, 0.60);
  width: 280px;
  margin: 30px;
  font-family: "Source Serif Pro", serif;
  font-size: 38px;
  font-weight: bold;
}

main, fieldset {
  width: 300px;
}

fieldset {
  background-color: rgb(207, 202, 165);
  padding: 30px 0;
  height: 550px;
  border: 6px outset rgb(230, 220, 188);
  border-radius: 25px;
}

legend, .messageText, .statistics, .questionAnswers, .buttonRow {
  width: 275px;
}

legend {
  background: rgba(0, 0, 0, 0);
  height: 130px;
  font-family: 'Chilanka', cursive;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  text-align: center;  
  margin: auto;
  padding-top: 100px;
}

.messageText {
  height: 320px;
  padding: 70px 0;
  text-align: center;  
  font-size: 22px;
  font-style: italic;  
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  padding: 5px 0;  
  font-size: 20px;
}

.statistics p {
  display: inline-block;
  width: 125px;
}

.questionAnswers {
  height: 320px;
  padding-top: 20px;
  font-size: 18px;
}

.questionAnswers p {
  padding-bottom: 20px;
}

.questionAnswers input {
  padding-left: 50px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;    
  padding: 7px 0;
  height: 50px;
}

.questionAnswers .buttonRow {
  height: 165px;
  padding-top: 115px;
}

.buttonRow button {
  background-color: #CCCCCC;
  width: 140px;
  height: 36px;
  padding: 3px;
  border: 4px outset rgb(170, 180, 170);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

/***  Minimum viewport 480px mobile landscape  ***/
@media screen and (min-width: 480px) {
  .main_hdr {
    width: 400px;
  }
  
  main {
    width: 400px;
  }
  
  fieldset {
    width: 400px;
  }

  legend, .messageText, .statistics, .questionAnswers, .buttonRow {
    width: 350px;
  }

  .statistics p {
    width: 150px;
  }
}

/***  Minimum viewport 768px iPad portrait  ***/
@media screen and (min-width: 768px) {
  .main_hdr {
    width: 500px;
  }

  main {
    width: 650px;
  }

  fieldset {
    width: 650px;
  }

  legend, .messageText, .statistics, .questionAnswers, .buttonRow {
    width: 600px;
  }     

  .statistics p {
    width: 175px;
  }  
}
